# CONFIGURATION VPN (GLUETUN / MULLEAD)
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=0.0.0.0/32
SERVER_CITIES=

# Port Frontend
Frontend_Port=

# CONFIGURATION QBITTORRENT
QBIT_HOST=http://localhost:
QBIT_USER=
QBIT_PASS=

# URL de l'instance Ollama
OLLAMA_HOST=http://localhost:

# CONFIGURATION PROWLARR
PROWLARR_NAME=
PROWLARR_PASSWORD=
PROWLARR_HOST=http://localhost:
PROWLARR_API_KEY=

# CHEMINS ET DOSSIERS Jellyfin
DIR_DOWNLOADS="/downloads"
JELLYFIN_HOST=0.0.0.0
JELLYFIN_USER=
DIR_JELLYFIN=/mnt/films